# Files
*.exe
*.xml
*.cmd_log
*.lso
*.log
*.cmd
*.ncd
*.ngc
*.ngd
*.ngr
*.ngm
*.bld
*.bit
*.xwbt
*.wcfg
*.wdb
*.pad
*.par
*.pcf
*.ptwx
*.syr
*.twr
*.stx
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.map
*.mrp
*.xrpt
*.html
*.gise
*.bgn
*.drc
*.zip
*_core_pad.csv
*_core_pad.txt

# Project Files
*.Prj

# Dirs
_ngo
_xmsgs
ipcore_dir
iseconfig
xlnx_auto_0_xdb
